@using Eventos.Domain.DTOs.OutputModel

@model List<EventoOutputModel>
<div class="layoutIndex">
    <link rel="stylesheet" href="~/css/Eventos/Conteudo/index.css" />
</div>

<section class="conteudo">
    <div class="div-titulo-cabecalho">
        @if (@ViewData["Usuario"].ToString() == "Visitante")
        {
            <h1>Seja bem vindo "@ViewData["Usuario"]"</h1>
            <input type="button" value="Login" onclick="location.href='@Url.Action("Login", "Evento")'">
        }
        else
        {
            <h1>Seja bem vindo "<a asp-action="Perfil">@ViewData["Usuario"]</a>"</h1>
            <input type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Evento")'">
        }
    </div>
    <div class="div-dos-eventos">
        @if (Model != null && Model.Any())
        {
            foreach (EventoOutputModel evento in Model)
            {
                <div class="layout-ticket">
                    <div class="layout-ticket-event">
                        <img class="layout-ticket-event-img" src=@evento.Imagem>
                    </div>
                    <div class="layout-ticket-event-dados">
                        <label>Local:</label>
                        <label>@evento.Localidade</label>
                        <label>Data - Horario:</label>
                        <label>@evento.DataEHora</label>
                        <div>
                            <label>Quantidade de ingressos:</label><label>@evento.QtdeTotalPessoa</label>
                        </div>
                        <div class="divCategoria">
                            <label>Categoria:</label>
                            <img class="categoria-imnagem" src="~/img/categorias/@evento.CaminhoImagem">
                        </div>
                        <div class="layout-ticket-event-dados-buttons">
                            @if (@ViewData["Usuario"].ToString() == "Visitante")
                            {
                                <input class="layout-ticket-event-dados-buttons-buy" type="button" disabled value="Comprar" />
                            }
                            else
                            {
                                <input class="layout-ticket-event-dados-buttons-buy" type="button" value="Comprar" onclick="location.href='@Url.Action("Comprar", "Evento", new{id=@evento.Id, nome=@ViewData["Usuario"].ToString()})'"/>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
<footer class="rodape">
    <div class="rodape-contato">
        <div class="rodape-contato-div">
            <label>Contato: </label>
        </div>
        <label>
            Mateus - (48) 9 8845-5647
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
        <label>
            Ruan - (48) 9 8440-6456
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
        <label>
            Pedro - (47) 9 8809-2450
            <img class="rodape-contato-img" src="../img/whatsapp.svg">
        </label>
    </div>
</footer>